a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;

  &:hover {
    color: $primary;
    background: $primary-gradient;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
